a {
  text-decoration: none;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

}
@font-face {
  font-family: 'PokemonSolidNormal';
  src: local('PokemonSolidNormal'), url(./fonts/PokemonSolidNormal-xyWR.ttf) format('truetype');
}